body {  
    font-family: 'Open Sans', sans-serif;  
    margin: 0;  
   }  

.allign{
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.466);
}

.padding-margin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
}

.grid-conatiner{
    display:grid;
   grid-template-columns: auto auto auto;
   gap: 10px 20x;
   margin: 60px 50px;
}
.griditem .flex-item{
    border: 0.5px solid #000;
    padding: 20px;
    text-align: center;  
}
.griditem-data{
    text-align: center;
}
 
.bottom{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: none;
    text-align: center;
     
}
.capital{
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.475);
    padding: 40px;
}

.radius{
    border-radius: 50px;
    padding: 20px;
}

.upper{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.475);
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    text-transform: capitalize;
}
.cntr{
    text-transform: capitalize;
    text-align: center;
    
}

.needwhite{
    text-decoration: none;
    color: white;
    text-decoration: none;
}


/* .bg-img{
    background-image: url(images/billboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center; */
}

button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.touch{
    background-color:rgb(0, 221, 255);
    font-size: 12px;
    padding: 10px 16px;

}
.touch a:hover{
    background-color: white;
    color: white; 
}

.cont{
   position: relative;
   text-align: center;
   color: black;
}

.overlay{
    position: absolute;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.683);
    background: rgba(255, 255, 255, 0.703);
    color: black;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 3px;
}

.cont:hover .overlay{
    opacity: 1;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin: 100px;
    align-content: space-between;
    border: solid;
    background-color: grey;
    color: white;
}

.flex-item{
    margin: 10px 10px;
    padding: 60px;
    
}

h2{
    text-transform: uppercase;
}

.site-header{
    background-image: url(images/billboard.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
    
 }

.site-identity{
    background-color: rgba(255, 255, 255, 0.833);
    opacity: 0.8;
   
}

.nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

   ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   }

   li{
    padding: 5px 5px;
   }

   a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   }


.space{
    display: block;
    margin: o auto;
    float: none;

}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}